{#{% load static %} {#加载静态文件#}
{% load staticfiles %} {#加载静态文件#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
{#        <link href="//cdn.staticfile.org/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">#}
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>自动化平台管理系统</title>

    </head>
    <body background="{% static 'images/bg.jpg' %}">
{#        <div class="fullscreen landing parallax" style="background-image:url({% static "images/bg.jpg" %});"#}
{#     data-img-width="2000" data-img-height="1333" data-diff="100">#}
        <div class="login-box">
            <div class="login-logo">
                <a href="/">
                    <b style="color: #fafafa">自动化平台管理系统</b>
                </a>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                       用户登录界面
                    </h3>
                </div>
                <form class="form-horizontal" role="form" action="{% url 'login' %} " method="POST">
                    {% csrf_token %}

                        {% for item in form %}
                        {#  item 即为 输入框, form 即为输入框列表#}
                            <div class="form-group">
                                <label class="control-label col-md-3">{{ item.label }}</label>
                                <div class="col-md-8" >
                                    {{ item }}
                                </div>
                                <p>{{ item.widget }}</p>
                                <div class="col-md-offset-1 col-md-10">
                                    {{ item.errors }}{{ error_msg }}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="box-footer">
                            <input type="hidden" name="next" value="{{ next }}" />
                            <button style="width: 340px;" type="submit" class="btn btn-info pull-right">
                                登录
                            </button>

                        </div>

                </form>

            </div>

        </div>
{#        </div>#}

    </body>
</html>































