{% extends 'base.html' %}
{% load mytags %}
{% block self_head_css_js %}
    <script> src="/statics/layer/layer.js"</script>
    <script> src="/statics/js/base.js"</script>
    <script> src="/statics/plugins/datatables/jquery.dataTables.min.js"</script>
    <script> src="/statics/plugins/datatables/dataTables.bootstrap.min.js"</script>
    <script> src="/statics/plugins/datatables/dataTables.bootstrap.css"</script>
{% endblock %}
{% block content %}

<div class="content-wrapper">
    <section class="content-header"></section>
    <section class="content">
        <p>
            <h4>您没有权限,请联系管理员!</h4>
        </p>
    </section>
</div>
{% endblock %}
