{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/statics/layer/layer.js"></script>
{% endblock %}
{% block content %}
<script>
    window.onload=init;
    function init() {
        showhide(2);
    }
    function showhide(n) {
        var box = document.getElementById("mail");
        box.className="active";
        var box1 = document.getElementById("config_manager");
        box1.className="active";
    }
</script>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="alert alert-info alert-dismissible" style="display: {{ display_control }};">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4>{{ tips }}</h4>
        </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <div id="dialog">
                <div class="box">
                    <form class="form-horizontal" action="{% url 'email_add' %}" method="POST">
                        {% csrf_token %}
                        <hr>
                        {{ e_form.as_p }}

                     <!-- /.box-body -->
                  <div class="box-footer">
                    <input type="submit" class="btn btn-primary" style="width: 60pt" value="提交">&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="{% url 'email_list' %}"><li style="width: 60pt" class="btn btn-primary" value="">返回</li></a><br>
                  </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
\
{% endblock %}
