{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/statics/layer/layer.js"></script>
{% endblock %}
{% block content %}
<script>

    window.onload=init;
    function init() {
         var id_params = document.getElementById("id_params");
        id_params.style.display='none';
        var id_headers = document.getElementById("id_headers");
        id_headers.style.display='none';
    }
    function showhide(byid) {
        var id_params = document.getElementById(byid);
        if (id_params.style.display==''){
            id_params.style.display='none';
        }else{
            id_params.style.display='';
        }
    }


</script>


  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="alert alert-info alert-dismissible" style="display: {{ display_control }};">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4>{{ tips }}</h4>
        </div>
    </section>

    <!-- Main content -->

    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">添加接口</h3>

          <div class="box-tools pull-right">
{#            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse" id="Collapse">#}
{#              <i class="fa fa-minus"></i></button>#}
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove" id="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
      <form action="{% url 'case_add' %}" method="post">
        {% csrf_token %}
        {#          <p>#}
        {#           <label for="id_subject">Subject:</label>#}
        {#           <input id="id_subject" type="text" name="subject" maxlength="100" />#}
        {#          </p>#}
        {# c_form.as_p 表单自动添加显示 单个p标签类似上面注视#}
{#                {{ c_form.as_p }}#}
        <div class="form-group">
           <label class="control-label">
               {{ c_form.case_name.label_tag }}(必填项)

           </label>
            <a action="#" id="help-button" class="fa fa-question-circle-o"  data-toggle="tooltip" title="接口名称不能为空"></a>
           <div style=" width: 600px">
               {{ c_form.case_name }}
           </div>

            {{ c_form.case_name.errors }}
        </div>

          <div class="form-group">
           <label class="control-label">
               {{ c_form.ip.label_tag }}
           </label>
              <a action="#" id="help-button" class="fa fa-question-circle-o"  data-toggle="tooltip" title="域名或者ip"></a>
           <div>
               {{ c_form.ip }}
           </div>
            {{ c_form.ip.errors }}
        </div>

          <div class="form-group">
           <label class="control-label">
               {{ c_form.port.label_tag }}
           </label>
              <a action="#" id="help-button" class="fa fa-question-circle-o"  data-toggle="tooltip" title="请求端口"></a>
           <div>
               {{ c_form.port }}
           </div>
            {{ c_form.port.errors }}
        </div>

          <div class="form-group">
           <label class="control-label">
               {{ c_form.protocol.label_tag }}
           </label>
              <a action="#" id="help-button" class="fa fa-question-circle-o"  data-toggle="tooltip" title="请求协议"></a>
           <div>
               {{ c_form.protocol }}
           </div>
            {{ c_form.protocol.errors }}
        </div>

          <div class="form-group">
           <label class="control-label">
               {{ c_form.path.label_tag }}
           </label>
              <a action="#" id="help-button" class="fa fa-question-circle-o"  data-toggle="tooltip" title="接口请求路径：/case/add"></a>
           <div>
               {{ c_form.path }}
           </div>
            {{ c_form.path.errors }}
        </div>

          <div class="form-group">
           <label class="control-label">
               {{ c_form.case_group.label_tag }}
           </label>
              <a action="#" id="help-button" class="fa fa-question-circle-o"   data-toggle="tooltip" title="如果无项目分组，请到属组管理中添加您的项目"></a>


           <div>
               {{ c_form.case_group }}
           </div>
            {{ c_form.case_group.errors }}
        </div>

          <div class="form-group">
           <label class="control-label">
               {{ c_form.request_method.label_tag }}
           </label>
              <a action="#" id="help-button" class="fa fa-question-circle-o"   data-toggle="tooltip" title="当前只支持GET和POST请求"></a>
           <div>
               {{ c_form.request_method }}
           </div>
            {{ c_form.request_method.errors }}
        </div>

           <div class="form-group">
           <label class="control-label">
               {{ c_form.request_type.label_tag }}
           </label>
                <a action="#" id="help-button" class="fa fa-question-circle-o"   data-toggle="tooltip" title="请选择正确的请求类型，不确定的情况下可以尝试默认请求类型"></a>

           <div>
               {{ c_form.request_type }}
           </div>
            {{ c_form.request_type.errors }}
        </div>

          <div class="form-group">
           <label class="control-label">
               {{ c_form.headers.label_tag }}
           </label>
              <a action="#" id="help-button" class="fa fa-question-circle-o"   data-toggle="tooltip" title='请求参数下面二选一即可,请求头为字典/json类型，可以不用添加content-type，如无特别需要可以不填'></a>

           <div>
               <div class="headers_body" id="id_headers_body" >
                        <button type="button" id="id_headers_body_a" class="headers-btn" onclick="showhide('id_headers')"  >
                       <i class="fa fa-plus"> header_body</i></button>
                       {{ c_form.headers }}
                   </div>

                    <div class="headers_json" id="id_headers_json">
                       <button type="button" id="id_headers_json_a" class="headers-btn" onclick="json2str_headers()" >
                            <i class="fa fa-plus"> header_json</i>
                        </button>
                       <div id="urlHeaders" name="urlHeaders">
                       </div>
                   </div>

           </div>
            {{ c_form.headers.errors }}
        </div>

           <div class="form-group">
               <label class="control-label">
                   {{ c_form.params.label_tag }}
               </label>
               <a action="#" id="help-button" class="fa fa-question-circle-o"  data-toggle="tooltip" title="请求参数下面二选一即可，如果为json类型params_body请记得带上 { }，如:{'username':'zhangsan'}"></a>
               <div >
                   <div class="params_body" id="id_params_body" >
                        <button type="button" id="id_params_body_a" class="params-btn" onclick="showhide('id_params')"  >
                       <i class="fa fa-plus"> params_body</i></button>
                       {{ c_form.params }}
                   </div>

                    <div class="params_json" id="id_params_json">
                       <button type="button" id="id_params_json_a" class="params-btn" onclick="json2str_params()" >
                            <i class="fa fa-plus"> params_json</i>
                        </button>
                       <div id="urlParameter" name="urlParameter">
                       </div>
                   </div>
               </div>
              {{ c_form.params.errors }}
           </div>

           <div class="form-group">
           <label class="control-label">
               {{ c_form.is_active.label_tag }}
           </label>
               <a action="#" id="help-button" class="fa fa-question-circle-o"  data-toggle="tooltip" title="用例一旦被禁用将不会被运行"></a>

           <div>
               {{ c_form.is_active }}
           </div>
            {{ c_form.is_active.errors }}
        </div>

          <div class="form-group">
           <label class="control-label">
               {{ c_form.expect_res.label_tag }}
           </label>
              <a action="#" id="help-button" class="fa fa-question-circle-o"   data-toggle="tooltip" title="预期结果可以为空，主要进行结果响应的断言，支持模糊匹配"></a>

           <div>
               {{ c_form.expect_res }}
           </div>
            {{ c_form.expect_res.errors }}
        </div>


          <div class="form-group">
           <label class="control-label">
               {{ c_form.proxies.label_tag }}
           </label>
              <a action="" id="help-button" class="fa fa-question-circle-o"  data-toggle="tooltip" title="代理地址，比如http://10.10.10.10:8888"></a>

           <div>
               {{ c_form.proxies }}
           </div>
            {{ c_form.proxies.errors }}
        </div>

          <div class="form-group">
           <label class="control-label">
               {{ c_form.remark.label_tag }}
           </label>
              <a action="#" id="help-button" class="fa fa-question-circle-o"  data-toggle="tooltip" title="备注可以为空"></a>

           <div>
               {{ c_form.remark }}
           </div>
            {{ c_form.remark.errors }}
        </div>

        <input type="submit" class="btn btn-primary" style="width: 60pt" value="提交" onclick="str2json()">
        <a href="{% url 'case' %}"> <li class="btn btn-primary" style="width: 60pt">返回</li></a>

          <br>
      </form>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <i class="fa fa-info-circle"></i> 请勿重复添加条目。
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->
    </section>

  </div>
<input id="handle_status" value="" hidden="hidden">

<script>
{#function del_step(obj) {#}
{#        var tr = obj.parentNode.parentNode;#}
{#        var tbody = tr.parentNode;#}
{#        tbody.removeChild(tr);#}
{#    }#}
{#$(document).ready(function () {#}
{#    $("#add_response_body").click(function () {#}
{#            var newRow = "<tr> <td name='var_name' contenteditable='true'></td><td name='var_remark' contenteditable='true'></td> <td> <button class='btn btn-danger' onclick='del_step(this)'>删除行</button> </td> </tr>";#}
{#            $("#response_body tr:last").after(newRow);#}
{#        });#}
{##}


// 点击x 后退
$('#Remove').on('click', function () {
    //后退
    history.go(-1);
});


</script>

<script src="/statics/js/common/request.js" type="text/javascript"></script>
<script type="text/javascript">
    function str2json() {
        var data_param={};
        var data_header={};
        if($(".paramKey").length){
            for (var i=0;i<$(".paramKey").length;i++){
                var key_str_param = $('.paramKey')[i].value;
                var value1_str_param = $('.defaultValue')[i].value;
                data_param[key_str_param] = value1_str_param;
            }
            $("#id_params").val(JSON.stringify(data_param));
            }


        if($(".headerKey").length){
            for (var i=0;i<$(".headerKey").length;i++){
                var key_str_header = $('.headerKey')[i].value;
                var value1_str_header = $('.headerValue')[i].value;
                data_header[key_str_header] = value1_str_header;
            }
            $("#id_headers").val(JSON.stringify(data_header));
            }
        }

    function json2str_params() {
        var id_params = $("#id_params").val();

        var temp_key = new Array();
        var temp_value = new Array();
        if(id_params){
            try{
                var id_params_json = JSON.parse(id_params);
            } catch (err){
                alert("【 params_body 】中须为json数据才能编辑");
            }
            // 遍历json
            for (var i in id_params_json){
                temp_key.push(i);
                temp_value.push(id_params_json[i]);
            }
            //
            for(var k=0; k< temp_key.length;k++){
                addRequestParams();
                $('.paramKey')[k].value = temp_key[k];
                $('.defaultValue')[k].value = temp_value[k];
            }
            $("#id_params_json_a").attr("disabled", true);
        }else {
            addRequestParams();
        }
    }



    function json2str_headers() {
        var id_headers = $("#id_headers").val();

        var temp_key = new Array();
        var temp_value = new Array();
        if(id_headers){
            try{
                var id_headers_json = JSON.parse(id_headers);
            } catch (err){
                alert("【 header_body 】中须为json数据才能编辑");
            }
            // 遍历json
            for (var i in id_headers_json){
                temp_key.push(i);
                temp_value.push(id_headers_json[i]);
            }
            //
            for(var k=0; k< temp_key.length;k++){
                addRequestHeaders();
                $('.headerKey')[k].value = temp_key[k];
                $('.headerValue')[k].value = temp_value[k];
            }
            $("#id_headers_json_a").attr("disabled", true);
        }else {
            addRequestHeaders();
        }
    }

</script>
{% endblock %}